# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Python test/cache files
.pytest_cache/
.mypy_cache/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp